.message {
	background-color: #EEEEEE;
	padding: 10px;
	margin: 5px;
	display: inline-block;
	border-radius: 15px;
}


.message-self {
	background-color: #2c3e50;
	color: #ffffff;
}

.message-container {

}

.message-container-self {
	text-align: right;
}

.sender {
    margin: 0px 0px 0px 10px;
    font-size: smaller;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin 2.7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}